
  #logo {
    display: flex;
    justify-content: left;
    margin-top: 10px;
  }
  
  .input-group{
    margin-top: 20px;
    display: flex;
    justify-content: left;
  }


  #menu {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
    gap: 10px;
  }
  
  header {
    background-image: url('/images/header.jpg');
    background-size: cover;
    color: rgb(255, 255, 255);
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    padding-bottom: 20px;
  }
  header .destination-select{
    color: rgb(255, 255, 255);
    
  }
  
  form {
    display: grid;
    grid-template-areas:
    "destination destination destination"
    "from to guests"
    "submit submit submit";
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: column;
    gap: 10px;
  }
  
  .destination-select {
    grid-area: destination;
  }
  
 .submit {
    grid-area: submit;
  }
  
 .submit button {
    width: 100%;
  }
  